@import url(https://fonts.google.com/specimen/Inter);
@font-face {
  font-family: "MyFont";
  src: url(assets/fonts/static/Inter-Regular.ttf) format(truetype);
}
@font-face {
  font-family: "MyFontBold";
  src: url(assets/fonts/static/Inter-Bold.ttf) format(truetype);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #141414;
  font-family: "Inter", "MyFont", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  display: flex;
  /* flex-wrap: nowrap; */
}

body{
  background-color: #141414;
  min-height: 100vh;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 90px;
  height: 90px;
}

.card {
  background: #1f1f1f;
  padding: 2rem;
  border-radius: 12px;
  width: 110%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.location {
  color: #c5f82a;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.bio {
  font-size: 0.9rem;
  color: #cccccc;
  margin-bottom: 1.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links a {
  background-color: #333333;
  border: none;
  color: white;
  padding: 0.9rem;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease;
  /* cursor: pointer; */
}

.links a:hover,
.links a:focus {
  background: #c5f82a;
  color: #000;
}

.attribution{
  /* display: block; */
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.75rem;
  color: aliceblue;
}
